$ember-power-select-background-color: #e4e4e4;
$ember-power-select-multiple-selection-background-color: #012B4D;

$ember-power-select-text-color: #008CDD;
$ember-power-select-placeholder-color: #008CDD;
$ember-power-select-highlighted-color: #008CDD;
$ember-power-select-disabled-option-color:#008CDD;
$ember-power-select-multiple-selection-color: #008CDD;

@import "ember-power-select";
@import "event-item.scss";
@import "event.scss";
@import "login.scss";
@import "events.scss";
@import "me.scss";

html, body {
  overflow: hidden;
}

.scrollable-menu {
    height: auto;
    overflow-x: hidden;
}

.udown-logo {
  font-style: Audiowide;
}

.vertical-center {
  height: 100%;
  display:flex;
  align-items:center;
}

.horizontal-center {
  text-align: center;
  justify-content: center;
}

input[type="text"], textarea {
  background-color: #012B4D;
  color: #008CDD;
}

.textarea-override {
  background-color: #012B4D;
  color: #008CDD;
}

::-webkit-input-placeholder { /* Chrome */
  color: #008CDD;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #008CDD;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #008CDD;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #008CDD;
  opacity: 1;
}
