.event-item {
  width: 80%;
  height: 300px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: #F8F8F8;
}

.event-item-inner {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
  color: black;
}


.event-item-name {
  font-weight: bold;
  font-size: 14pt;
  margin-bottom: 10px;
}

.event-item-location, .event-item-time{
  margin-bottom: 10px;
}

.event-item-view {
  position:absolute; bottom:0;
  width: 73.5%;
}

.event-lower-bar {
  position:absolute; bottom:0;
  text-align: center;
  color: white;
  background-color: #008CDD;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
