.login-page {
  background-color: #D9D9D9;
  height: 100vh;
}

.login-topbar {
  height: 5vh;
  width: 100%;
  background-color: #012B4D;
}


.login-logo, .login-signin {
  text-align: center;
  font-size: 30pt;
}

.login-signin {
  padding-bottom: 30px;
}

.login-form-box {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  background-color: white;
}

.login-form {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.login-form label {
  text-align: left;
}

.login-input {
  width: 100%;
  text-align: center;
}

.login-form input {
  width: 60%;
  margin: auto;
}

.login-form input[type="text"], input[type="password"] {
  background-color: #012B4D;
  color: #008CDD;
}

.login-btn-group {
  text-align: center;
}

.btn-login-login {
  background-color: #008CDD;
  font-size: 18pt;
  color: white;
  width: 40%;
}

.btn-login-login:hover {
  background-color: #007CCC;
  font-size: 18pt;
  color: white;
  width: 40%;
}
