.my-event-item {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #F8F8F8;
}

.my-event-item-inner {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
}

.my-event-item-val {

}



.me-container {
  padding-top: 10vh;
  padding-bottom: 10vh;
  width: 80%;
  margin: auto;
  text-align: center;
  color: white;
}

.me-box {
  background-color: #012b4d;
}

.me-escape {
  float: right;
  padding-right: 10px;
  padding-top: 10px;
}

.escape-white {
  color: white;
}

.me-registered-header, .me-my-header {
  font-size: 25pt;
}

.me-registered-for {
  padding-bottom: 20px;
}

.my-event-lower-bar {
  text-align: center;
  color: white;
  background-color: #008CDD;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.me-my-events {
  padding-bottom: 20px;
}
