<div class="events-topbar">
  <div class="row">
    <div class="col-xs-6">
      <div class="vertical-center logo-bar">
        <img src="logo white.png" height="50px">
      </div>
    </div>
    <div class="col-xs-6">
      <div class="logo-bar">
        {{model.email}} &nbsp;&nbsp;&nbsp;
        {{#link-to "events.new" class="btn btn-new-event" href="#" role="button"}}
          <i class="fa fa-plus-circle" aria-hidden="true"></i> New Event
        {{/link-to}} &nbsp;&nbsp;&nbsp;
        {{#link-to "events.me" class="btn btn-new-event" href="#" role="button"}}
          My Events
        {{/link-to}} &nbsp;&nbsp;&nbsp;
        <button class="btn btn-logout" {{action "logout"}}>
          Log out
        </button>
      </div>
    </div>
  </div>
</div>

<div class="events-outlet">
  {{liquid-outlet}}
</div>
